{% extends "base.html" %}
{% block title %}
    Профиль пользователя
    {{ author.username }}
{% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                    <div class="card-body">
                        <div
                            class="h2">
                            <!-- Имя автора -->
                            {{ author.get_full_name }}
                        </div>
                        <div
                            class="h3 text-muted">
                            <!-- author.username автора -->
                            @{{ author.username }}
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                                Подписчиков: XXX
                                <br/>
                                Подписан: XXX
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div
                                class="h6 text-muted">
                                <!-- Количество записей -->
                                Записей:
                                {{ paginator.count }}
                            </div>
                        </li>
                        <li class="list-group-item">
                            {% if following %}
                            <a class="btn btn-lg btn-light" 
                                    href="{% url 'profile_unfollow' profile.username %}" role="button"> 
                                    Отписаться 
                            </a> 
                            {% else %}
                            <a class="btn btn-lg btn-primary" 
                                    href="{% url 'profile_follow' profile.username %}" role="button">
                            Подписаться 
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div
                class="col-md-9">
                <!-- Начало блока с отдельным постом -->
                {% if paginator.count == 0 %}
                    <div class="card mb-3 mt-1 shadow-sm">
                        <div class="card-body">
                            <a href="{% url 'profile' author.username %}">
                                <strong class="d-block text-gray-dark">@{{ author.username }}</strong>
                            </a>
                            <p class="card-text">Пользователь еще ничего не написал</p>
                        </div>
                    </div>
                {% endif %}
                <!-- Конец блока с отдельным постом -->
                <!-- Остальные посты -->
                {% for post in page %}
                    {% include "post_item.html" with post=post %}
                {% endfor %}
                {% if page.has_other_pages %}
                    {% include "paginator.html" with items=page paginator=paginator %}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}